In [4]:
import pandas as pd
import numpy as np

In [5]:
tom_forecast_df = pd.read_csv("tomorrows_forecast.csv")

In [6]:
tom_forecast_df

,date,state_name,county_name,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration
0,2020-12-02,Alabama,Jefferson,59.0,pm25nfrm,15.979641
1,2020-12-02,Arizona,Maricopa,71.0,pm25frm,21.546011
2,2020-12-02,Arizona,Pima,43.0,pm25frm,10.432922
3,2020-12-02,Arkansas,Pulaski,42.0,pm25frm,10.235905
4,2020-12-02,California,Alameda,54.0,pm25frm,13.560171
...,...,...,...,...,...,...
95,2020-12-02,Utah,Utah,59.0,pm25frm,16.047052
96,2020-12-02,Vermont,Chittenden,29.0,o3,0.030831
97,2020-12-02,Vermont,Rutland,33.0,no2,35.310877
98,2020-12-02,Virginia,Arlington,14.0,no2,15.289989
99,2020-12-02,Wisconsin,Dodge,47.0,o3,0.051240

In [7]:
aqi_reco = pd.read_csv("AQI Recommendations.csv")

In [8]:
aqi_reco.head()

,Worst_Pollutant,Intensity,Min_AQI,Max_AQI,Recommendation
0,o3,Good,0,50,Enjoy the outdoors!
1,o3,Moderate,51,100,Unusually sensitive people should consider red...
2,o3,Unhealthy for Sensitive Groups,101,150,"People with lung disease (such as asthma), ch..."
3,o3,Unhealthy,151,200,"People with lung disease (such as asthma), chi..."
4,o3,Very Unhealthy,201,300,"People with lung disease (such as asthma), chi..."

In [9]:
import sqlite3 as db

# Connect to a database (or create one if it doesn't exist)
conn = db.connect('users.db')

In [10]:
# Create a 'cursor' for executing commands
c = conn.cursor()

In [11]:

# data = pd.read_sql_query('SELECT name from sqlite_master where type= "table";', c) 
# data

In [12]:
c.execute("SELECT * FROM user")
results = c.fetchall()

In [13]:
results

[(1, 'Sandeep', 'sandeepsainath@berkeley.edu', 'California', 'Alameda'),
 (2, 'Ajay', 'ajm99@gatech.edu', 'Colorado', 'Denver'),
 (3, 'Ayush', 'ayushag.95@outlook.com', 'Alabama', 'Jefferson'),
 (4, 'Harshal', 'h.mittal@gatech.edu', 'New York', 'Bronx'),
 (5, 'Nicholas', 'ramalloarmy@gmail.com', 'Georgia', 'Fulton'),
 (6, 'Abhishek', 'abhi_g@gmail.com', 'California', 'Monterey')]

In [14]:
users_df = pd.DataFrame(results, columns = ["id", "username", "email", "state_name", "county_name"])

In [15]:
users_df

   id  username                        email  state_name county_name
0   1   Sandeep  sandeepsainath@berkeley.edu  California     Alameda
1   2      Ajay             ajm99@gatech.edu    Colorado      Denver
2   3     Ayush       ayushag.95@outlook.com     Alabama   Jefferson
3   4   Harshal          h.mittal@gatech.edu    New York       Bronx
4   5  Nicholas        ramalloarmy@gmail.com     Georgia      Fulton
5   6  Abhishek             abhi_g@gmail.com  California    Monterey

In [16]:
# aqi_reco.head()

In [17]:
tom_forecast_df

,date,state_name,county_name,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration
0,2020-12-02,Alabama,Jefferson,59.0,pm25nfrm,15.979641
1,2020-12-02,Arizona,Maricopa,71.0,pm25frm,21.546011
2,2020-12-02,Arizona,Pima,43.0,pm25frm,10.432922
3,2020-12-02,Arkansas,Pulaski,42.0,pm25frm,10.235905
4,2020-12-02,California,Alameda,54.0,pm25frm,13.560171
...,...,...,...,...,...,...
95,2020-12-02,Utah,Utah,59.0,pm25frm,16.047052
96,2020-12-02,Vermont,Chittenden,29.0,o3,0.030831
97,2020-12-02,Vermont,Rutland,33.0,no2,35.310877
98,2020-12-02,Virginia,Arlington,14.0,no2,15.289989
99,2020-12-02,Wisconsin,Dodge,47.0,o3,0.051240

In [18]:
merged_users_forecasts_df = users_df.merge(tom_forecast_df, how = "left" , on = ["state_name", "county_name"] )

In [19]:
merged_users_forecasts_df

,id,username,email,state_name,county_name,date,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration
0,1,Sandeep,sandeepsainath@berkeley.edu,California,Alameda,2020-12-02,54.0,pm25frm,13.560171
1,2,Ajay,ajm99@gatech.edu,Colorado,Denver,2020-12-02,58.0,pm25frm,15.525741
2,3,Ayush,ayushag.95@outlook.com,Alabama,Jefferson,2020-12-02,59.0,pm25nfrm,15.979641
3,4,Harshal,h.mittal@gatech.edu,New York,Bronx,2020-12-02,26.0,pm25nfrm,6.301732
4,5,Nicholas,ramalloarmy@gmail.com,Georgia,Fulton,2020-12-02,66.0,pm25nfrm,19.149149
5,6,Abhishek,abhi_g@gmail.com,California,Monterey,2020-12-02,27.0,o3,0.029170

In [20]:
# tom_forecast_df[tom_forecast_df["state_name"] == "Georgia"]

In [21]:
merged_users_forecasts_df["max_AQI_pollutant"].replace("pm25nfrm", "pm25", inplace = True)
# merged_users_forecasts_df

In [22]:
merged_users_forecasts_df["max_AQI_pollutant"].replace("pm25frm", "pm25", inplace = True)
# merged_users_forecasts_df

In [23]:
aqi_reco.head()

,Worst_Pollutant,Intensity,Min_AQI,Max_AQI,Recommendation
0,o3,Good,0,50,Enjoy the outdoors!
1,o3,Moderate,51,100,Unusually sensitive people should consider red...
2,o3,Unhealthy for Sensitive Groups,101,150,"People with lung disease (such as asthma), ch..."
3,o3,Unhealthy,151,200,"People with lung disease (such as asthma), chi..."
4,o3,Very Unhealthy,201,300,"People with lung disease (such as asthma), chi..."

In [24]:
merged_users_forecasts_reco_df_new = merged_users_forecasts_df.merge(aqi_reco, left_on = ["max_AQI_pollutant"],  right_on = ["Worst_Pollutant"])

In [25]:
mask = (merged_users_forecasts_reco_df_new["max_pollutant_AQI"] >= merged_users_forecasts_reco_df_new["Min_AQI"]) \
        & (merged_users_forecasts_reco_df_new["max_pollutant_AQI"] <= merged_users_forecasts_reco_df_new["Max_AQI"] )

In [26]:
final_recos_df = merged_users_forecasts_reco_df_new[mask]

In [27]:
final_recos_df = final_recos_df.reset_index(drop = True)
final_recos_df

,id,username,email,state_name,county_name,date,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration,Worst_Pollutant,Intensity,Min_AQI,Max_AQI,Recommendation
0,1,Sandeep,sandeepsainath@berkeley.edu,California,Alameda,2020-12-02,54.0,pm25,13.560171,pm25,Moderate,51,100,Unusually sensitive people should consider red...
1,2,Ajay,ajm99@gatech.edu,Colorado,Denver,2020-12-02,58.0,pm25,15.525741,pm25,Moderate,51,100,Unusually sensitive people should consider red...
2,3,Ayush,ayushag.95@outlook.com,Alabama,Jefferson,2020-12-02,59.0,pm25,15.979641,pm25,Moderate,51,100,Unusually sensitive people should consider red...
3,4,Harshal,h.mittal@gatech.edu,New York,Bronx,2020-12-02,26.0,pm25,6.301732,pm25,Good,0,50,Enjoy the outdoors!
4,5,Nicholas,ramalloarmy@gmail.com,Georgia,Fulton,2020-12-02,66.0,pm25,19.149149,pm25,Moderate,51,100,Unusually sensitive people should consider red...
5,6,Abhishek,abhi_g@gmail.com,California,Monterey,2020-12-02,27.0,o3,0.029170,o3,Good,0,50,Enjoy the outdoors!

In [28]:
today = pd.to_datetime("today")
today.date() 
import datetime
tomorrow_date = str(today.date() + datetime.timedelta(days=1))

In [29]:
weather_data_df = pd.read_csv("weather_data-final.csv")

In [30]:
weather_data_df["Weather"].unique()

array(['Clear', 'Clouds', 'Rain', 'Snow'], dtype=object)

In [31]:
weather_data_df[weather_data_df["county_name"] == "Fulton"]

      state_code state_name  county_code county_name        Date Weather
423           13    Georgia          121      Fulton  29-11-2021  Clouds
424           13    Georgia          121      Fulton  30-12-2021   Clear
425           13    Georgia          121      Fulton  01-12-2021   Clear
426           13    Georgia          121      Fulton  02-12-2021   Clear
427           13    Georgia          121      Fulton  03-12-2021  Clouds
428           13    Georgia          121      Fulton  04-12-2021  Clouds
429           13    Georgia          121      Fulton  05-12-2021  Clouds
430           13    Georgia          121      Fulton  06-12-2021    Rain
5083          13    Georgia          121      Fulton  29-11-2021   Clear
5084          13    Georgia          121      Fulton  02-12-2021  Clouds
5085          13    Georgia          121      Fulton  05-12-2021    Rain

In [32]:
tomorrow_date = (today.date() + datetime.timedelta(days=1))
tomorrow_date = tomorrow_date.strftime('%d-%m-%Y')

In [33]:
weather_df = weather_data_df[weather_data_df["Date"]== tomorrow_date]
# weather_df = weather_df[["state_name", "county_name", "Weather" ]]
weather_df[weather_df["county_name"] == "Fulton"]

      state_code state_name  county_code county_name        Date Weather
426           13    Georgia          121      Fulton  02-12-2021   Clear
5084          13    Georgia          121      Fulton  02-12-2021  Clouds

In [34]:
merged_recos_with_temp_df = final_recos_df.merge(weather_df, how ='left', on = ['state_name', "county_name"])

In [35]:
merged_recos_with_temp_df

,id,username,email,state_name,county_name,date,max_pollutant_AQI,max_AQI_pollutant,max_AQI_pollutant_concentration,Worst_Pollutant,Intensity,Min_AQI,Max_AQI,Recommendation,state_code,county_code,Date,Weather
0,1,Sandeep,sandeepsainath@berkeley.edu,California,Alameda,2020-12-02,54.0,pm25,13.560171,pm25,Moderate,51,100,Unusually sensitive people should consider red...,6,1,02-12-2021,Clear
1,2,Ajay,ajm99@gatech.edu,Colorado,Denver,2020-12-02,58.0,pm25,15.525741,pm25,Moderate,51,100,Unusually sensitive people should consider red...,8,31,02-12-2021,Clear
2,3,Ayush,ayushag.95@outlook.com,Alabama,Jefferson,2020-12-02,59.0,pm25,15.979641,pm25,Moderate,51,100,Unusually sensitive people should consider red...,1,73,02-12-2021,Clear
3,4,Harshal,h.mittal@gatech.edu,New York,Bronx,2020-12-02,26.0,pm25,6.301732,pm25,Good,0,50,Enjoy the outdoors!,36,5,02-12-2021,Rain
4,4,Harshal,h.mittal@gatech.edu,New York,Bronx,2020-12-02,26.0,pm25,6.301732,pm25,Good,0,50,Enjoy the outdoors!,36,5,02-12-2021,Clouds
5,5,Nicholas,ramalloarmy@gmail.com,Georgia,Fulton,2020-12-02,66.0,pm25,19.149149,pm25,Moderate,51,100,Unusually sensitive people should consider red...,13,121,02-12-2021,Clear
6,5,Nicholas,ramalloarmy@gmail.com,Georgia,Fulton,2020-12-02,66.0,pm25,19.149149,pm25,Moderate,51,100,Unusually sensitive people should consider red...,13,121,02-12-2021,Clouds
7,6,Abhishek,abhi_g@gmail.com,California,Monterey,2020-12-02,27.0,o3,0.029170,o3,Good,0,50,Enjoy the outdoors!,6,53,02-12-2021,Clear

In [36]:
merged_recos_with_temp_df.to_csv("final recommendations.csv", index = False)